<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Forgot Password</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://kit.fontawesome.com/8d19e07a39.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <form method="POST">
      <h2>Forgot Password</h2>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="input-box">
        <input type="email" required name="email">
        <i class="fas fa-envelope input-icon"></i>
        <label>Email</label>
      </div>
      <button type="submit" class="btn">Send OTP</button>
      <div class="form-footer">
        <p>Remembered? <a href="{{ url_for('login') }}">Login</a></p>
      </div>
    </form>
  </div>
</body>
</html>