<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Verify OTP</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://kit.fontawesome.com/8d19e07a39.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <form method="POST">
      <h2>Verify Email</h2>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="input-box">
        <input type="text" required name="otp">
        <i class="fas fa-key input-icon"></i>
        <label>Enter OTP</label>
      </div>
      <button type="submit" class="btn">Verify</button>
    </form>
  </div>
</body>
</html>